@media (max-width: 1200px)
  .container
    max-width: 960px
  .header
    &-container
      max-width: 960px
  .newsletter
    &__form
      width: 420px
      margin-right: 0
  .footer
    padding: 64px 0 
    &__left
      width: 220px
      margin-right: 35px
    &__item
      margin-right: 35px
      min-width: 140px
    &__bottom
      margin-top: 62px
  .item-main
    width: 210px
    &__image
      width: 210px
      height: 314px
    &__price
      width: 195px
  .item-more
    width: 210px
    height: 314px
  .collection
    margin-bottom: 80px
    &-cotainer
      flex-direction: column
      max-width: 670px
    &-left
      margin: auto
      margin-bottom: 40px
    &__right
      margin: 0
    &-right
      &__title
        margin-bottom: 18px
      &__text
        margin-top: 0
        margin-bottom: 30px
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .header
    padding-top: 26px
    padding-bottom: 18px
    margin-top: 8px
    margin-bottom: 30px
    &-container
      max-width: 647px
    &__links
      display: none
    &__button
      display: none
    &__menu
      display: block
      &_main
        &--active
          visibility: hidden
      &-block
        margin-top: -1px
        margin-left: -25px
        width: 22px
        height: 18px
        position: relative
        background-color: #fff
        z-index: 70
        & span,
        & span::before,
        & span::after
          position: absolute
          top: 50%
          margin-top: -1px
          left: 50%
          margin-left: -11px
          width: 22px
          height: 2px
          background: #3A4C66
        & span::before,
        & span::after 
          content: ''
          display: block
          transition: 0.2s
          visibility: visible
        & span::before 
          transform: translateY(-8px)
        & span::after 
          transform: translateY(8px)
        &_active
          & span
          & span:before 
            transform: rotate(-45deg)
            width: 20px
            transform-origin: center
          & span:after 
            transform: rotate(45deg)
            width: 20px
            transform-origin: center
    &_window
      display: none
      opacity: 0
      transition: 0.2s
      &--active
        opacity: 1
        transition: 0.2s
        display: block   
  .newsletter
    padding-top: 72px
    padding-bottom: 80px
    &-wrapper
      flex-wrap: wrap
    &__right
      display: flex
      flex-basis: 100%
      justify-content: center
      margin: auto
    &__left
      display: flex
      flex-basis: 100%
      justify-content: center
      flex-direction: column
      align-items: center
    &__form
      margin-left: 0
    &__text
      text-align: center
      margin-bottom: 56px
    &__form
      width: 447px
  .footer
    &__left
      width: 253px
      margin-right: 38px
      margin-left: 16px
    &-right
      max-width: 386px
      flex-wrap: wrap
      justify-content: space-between
    &__item
      width: 160px
      margin-right: 28px
      &_link
        &:not(:last-child)
          margin-bottom: 26px
      &:nth-child(1)
        margin-bottom: 48px
      &:nth-child(2)
        margin-bottom: 48px
    &__bottom
      margin-right: 210px
      margin-top: 63px
  .trending-items
    margin-bottom: 80px
    &__wrapper
      margin-right: 46px
      margin-left: 46px
    &__top
      flex-direction: column
      margin-bottom: 56px
    &__title
      margin-bottom: 28px
  .item-main
    width: 280px
    &__image
      width: 280px
      height: 355px
      margin-bottom: 12px
    &:nth-child(1)
      margin-bottom: 50px
    &:nth-child(3)
      margin-bottom: 50px
    &:nth-child(5)
      margin-bottom: 50px
    &__price
      width: 260px
  .item-more
    width: 280px
    height: 350px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 86%
  .header
    padding: 18px 0
    margin-top: 0
    margin-bottom: 24px
    &-container
      max-width: 576px
      width: 86%
  .newsletter
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      margin-bottom: 24px
    &__text
      font-size: 16px
      line-height: 28px
      max-width: none
      margin-bottom: 36px
    &__form
      width: 100%
      &::before
        top: 19px
    &__input
      padding-top: 13px
      padding-bottom: 13px
      padding-right: 20px
    &__button
      margin-top: 10px
      position: relative
      width: 100%
      top: 0
      bottom: 0
      right: 0
      padding: 0 24px
  .footer  
    padding-top: 46px
    padding-bottom: 64px
    &-wrapper
      flex-direction: column
    &__left
      order: 2
      margin-right: 0
      margin-left: 0
      margin: auto
      &_text
        font-size: 14px
        line-height: 24px
        text-align: center
        width: 263px
        margin-bottom: 21px
        margin-left: -10px
        margin-top: 10px
    &-right
      justify-content: flex-start
      max-width: 260px
      margin: auto
    &__item
      width: 113px
      min-width: 113px
      margin-right: 0
      margin-left: 0
      &:nth-child(1)
        margin-right: 31px
      &:nth-child(3)
        margin-right: 31px
        margin-bottom: 47px
      &:nth-child(1)
        margin-bottom: 39px
      &:nth-child(2)
        margin-bottom: 39px
      &_link
        font-size: 14px
        line-height: 20px
        &:not(:last-child)
          margin-bottom: 15px
      &_title
        font-size: 16px
        line-height: 22px
        margin-bottom: 20px
    &__bottom
      display: none
    &__logo
      margin-bottom: 14px
      margin: auto
  .social-networks
    margin: auto
  .trending-items
    margin-bottom: 48px
    &__wrapper
      width: 290px
      margin: auto
    &__title
      margin-bottom: 24px
      font-size: 28px
      line-height: 36px
    &__ul
      margin-right: 0
    &__li
      font-size: 16px
      line-height: 22px
      &:nth-child(3)
        margin-left: 0
        margin-right: -13px
        width: 83px
      &:nth-child(2)
        margin-left: 0
        margin-right: 7px
        width: 95px
      &:nth-child(1)
        margin-left: 0
        margin-right: 17px
        width: 95px
    &__top
      margin-bottom: 36px
    &__container
      width: 91%
  .item-main
    width: 140px
    &__image
      width: 140px
      height: 170px
    &:nth-child(1)
      margin-bottom: 24px
    &:nth-child(3)
      margin-bottom: 24px
    &:nth-child(5)
      margin-bottom: 24px
    &__title
      font-size: 16px
      line-height: 20px
    &__price
      width: 60px
      &-tag
        font-size: 14px
        line-height: 24px
      &-basket
        width: 14px
  .item-more
    width: 140px
    height: 170px
    &__wrapper
      margin-top: 43px
    &__image
      width: 25px
      margin-bottom: 22px
    &__text
      font-size: 20px
      line-height: 24px
  .collection
    margin-bottom: 64px
    &-cotainer
      flex-direction: column
      width: auto
    &-left
      margin: auto
      margin-bottom: 40px
      flex-direction: column
      width: auto
      margin-bottom: 36px
      &__first
        margin-right: 0
        margin-bottom: 14px
        &_image
          width: 290px
          height: 300px
      &__second
        flex-direction: row
        &_image-1
          margin-bottom: 0
          margin-right: 14px
          width: 138px
          height: 97px
        &_image-2
          width: 138px
          height: 97px
    &-right
      width: 290px
      margin: auto
      &__title
        font-size: 28px
        line-height: 36px
        margin-bottom: 16px
      &__text
        font-size: 16px
        line-height: 28px
        margin-bottom: 24px
        margin-right: 5px
        margin-left: 5px
      &__link
        margin: auto
        margin-left: 40px
        font-size: 16px
        line-height: 22px
  #email-error
    position: relative
    top: 0
    margin-top: 2px
